@using SportCentral.Models
@model IEnumerable<NewsViewModel>
 @*geeft list door*@
<!DOCTYPE html>
<head>
    <title>Card Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/assests/favicon.ico" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" runat="server">
</head>
<body>
    <div class="cards">
        @foreach (NewsViewModel nvm in Model)
        {

            <div class="=card-container">
                <div class="card">
                    <img src="@nvm.Image" alt="" class="card__image" />
                    <div class="card__content">
                        <p>
                            @nvm.Title
                        </p>
                        <p>
                            @nvm.Intro
                            @nvm.Datetime
                        </p>
                    </div>
                    <div class="card__info">
                        <div>
                            <i class="material-icons">thumb_up</i>@nvm.Rating
                        </div>
                        <div>
                            <a href="@Url.Action("Index", "Article", new { newsID = nvm.NewsID })" class="card__link">View Article</a>
                        </div>
                        <a class="btn btn-danger" asp-action="DeleteNews" asp-route-id="@nvm.NewsID">Verwijder artikel</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="btn btn-primary addBtn" asp-action="AddNews"> Maak een artikel </a>
</body>